html {
  height: 100%;
}

*  {
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}


h3, h1, label {
  text-transform: uppercase;
}

.content {
  display: flex; /*обеспечивает гибкий контекст для всех своих прямых дочерних элементов*/
  align-items: stretch; /*определяет поведение по умолчанию для того, как гибкие элементы располагаются вдоль поперечной оси текущей строки*/
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;  
  list-style: none;
  margin: 0; 
  background: rgb(37, 18, 42);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

.left-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #032469;  
  flex: 200px;
  justify-content: space-around;
}

.left-content p, li, a, h1 {
  color: white;
}

.frame {
  display: flex;
  background-color: #ffdf7c;
  height: 40px;
  align-items: center;
}

.frame h3 {
  margin-left: 10px;
}

.right-content {  
  max-width: 75%;
  margin-left: 10px;
}

img {
  max-width: 60%;  
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-table {
  width: 100%;
  margin-bottom: 3px;
  color: #212529;
  border-collapse: collapse;
}

thead {
  border-color: inherit;  
  display: table-header-group;
  background-color: #ffdf7c;
}

td, th {
  border: 1px solid #c5c3da;
  text-align: left;
  padding: 8px;
}

li, p, th, td {
  font-size: 20px;  
}

.wrapper {
  display: flex;
  flex-wrap: wrap; /*позволяет элементам переноситься по мере необходимости с помощью этого свойства*/
  margin-bottom: 10px;
}

.wrapper > div {
  border: 2px solid #c5c3da;
  border-radius: 5px;  
  gap: 5px 15px; 
  font-size: 20px;
}

.flex-item {
  background: #cdc6c5;    
  margin: 10px;    
  color: black;
  font-weight: bold;  
  text-align: center;
  font-family: 'Edu TAS Beginner', cursive; /*google font*/
}

.label-header {
  font-size: 1.8rem;
  color: white;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 760px) {
  .navigation {   
    display: none;
  }

  img {
    border-radius: 15%;
    max-width: 75%;
  }

  .frame {
    background-color: #1abc9c;
  }

  thead {
    background-color: #1abc9c;
  }
}