* label {
  color: white;
}

body {
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.content {
  width: 100%;
}

.left-content {
  background-color: #c5c3da;
  flex: 0 0 25%;
  max-width: 25%;
}

.right-content {
  flex: 0 0 71%;
  max-width: 71%;
  margin-left: 11px;
}

.contact-info {
  margin: 3px 1px 3px 10px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}

img {
  max-width: 80%;  
  margin-top: 10px;
  margin-left: 10%;
  border-radius: 50%;
}

.right-side {
  float: right;
}

.mt-2 {
  margin-top: 10px;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {  
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-7 {  
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.table {
  width: 100%;
  margin-bottom: 3px;
  color: #212529;
  border-collapse: collapse;
}

thead {
  border-color: inherit;  
  display: table-header-group;
}

td, th {
  border: 1px solid #c5c3da;
  text-align: left;
  padding: 8px;
}

li, p, th, td {
  font-size: 20px;  
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 10px;
}

.wrapper > div {
  border: 2px solid #c5c3da;
  border-radius: 5px;  
  padding: 1em;  
  font-size: 15px;
}

h3 {
  text-transform: uppercase;
}

