$font-stack: 'Roboto Slab', serif;
$primary-color: #ffdf7c;
$dark-color: black;
$navigatio-color: rgb(37, 18, 42);
$img-width: 190px;
$left-color: #565656;


html {
  height: 100%;  
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $primary-color;
}

.myImg {
  max-height: 265px;
  min-width: 200px;
  object-fit: contain;  
}

.profile {
  flex: 0 0 auto;
  width: 30%;
}

.col-md-9 {
  text-align: justify;
  font-size: 1.6rem;
}

.col-md-12 {
  background-color: $primary-color;
}

.col-md-12 p {
  text-transform: uppercase;
}

.row {
  align-items: flex-end;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
}

.info {
  display: flex;  
  background-color: $primary-color; 
  flex-flow: row wrap;   
  align-items: center;
}

.position {
  background-color: $dark-color;
  color: $primary-color;
  text-align: center;
  height: 58%;
  margin-top: 11px;
}

.col-md-3 {
  background-color: $left-color;
  color: white;
}

.custom-table {
  width: 100%;
  margin-bottom: 3px;
  color: #212529;
  border-collapse: collapse;
}

thead {
  border-color: inherit;  
  display: table-header-group;
  background-color: #ffdf7c;
}

td, th {
  border: 1px solid #c5c3da;
  text-align: left;
  padding: 8px;
}

.header { 
  margin-top: 30px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap; /*позволяет элементам переноситься по мере необходимости с помощью этого свойства*/
  margin-bottom: 1px;
}

.wrapper > div {
  border: 2px solid #c5c3da;
  border-radius: 5px;
}

.flex-item {
  background: #cdc6c5;    
  margin: 2px;    
  color: black;
  font-weight: bold;  
  text-align: center;
  font-family: 'Edu TAS Beginner', cursive; /*google font*/
}

@media screen and (max-width: 980px) { 

  .myImg {
    max-height: 265px;
    min-width: 200px;
    object-fit: contain;  
    margin: 1px 2px 47px -30px;
    border-radius: 50%;
  }

  .row {
    border: none;
  }

  .col-md-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 0px 1px 10px;
    color: #212529;
  }

  .info {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px){ 

  .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
  }
}