body {
    margin: 18px;
    font-size: 16px;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.form-field-header {
    font-size: 14px;
    font-weight: 500;
    margin: 0 -1rem 0.5rem;
    border-bottom: 1px solid lightgray;
    font-family: 'Bebas Neue', sans-serif;
    background: #EA4C89;
    color: white;
    padding: 0.2rem 0.5rem;
}

.form-field-group {
    border: 1px solid lightgrey;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
}

h2, h3 {
    text-align: center;
}

.container {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

